<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Image Similarity Checker</title>
    </head>

    <body>
        <h1>Image Similarity Checker</h1>
        <form action="https://127.0.0.1:8002/upload/" method="post" enctype="multipart/form-data">
            <label>Image 1: </label>
            <input type="file" name="file1" accept="image/*"><br>
            <label>Image 2: </label>
            <input type="file" name="file2" accept="image/*"><br>
            <input type="submit" value="Compare Images">
        </form>
    </body>

</html>